<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=MICAH-HP;Initial Catalog=seedspeak;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MICAH-HP;Initial Catalog=seedspeak;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.35;Initial Catalog=SeedSpeakDummy;Persist Security Info=True;User ID=seedspeak;Password=Seplx!#9s!%;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.35;Initial Catalog=SeedSpeak;Persist Security Info=True;User ID=seedspeak;Password=Seplx!#9s!%;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.0.31\SQL2K8;Initial Catalog=SeedSpeak2;Persist Security Info=True;User ID=sa;Password=Gatesix#12;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.35;Initial Catalog=SeedSpeak;Persist Security Info=True;User ID=seedspeak;Password=Seplx!#9s!%;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.35;Initial Catalog=SeedSpeak;Persist Security Info=True;User ID=seedspeak;Password=Seplx!#9s!%;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.0.31\SQL2K8;Initial Catalog=SeedSpeakDbNew;Persist Security Info=True;User ID=sa;Password=Gatesix#12;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="AdminMail" value="avinash.mahajan@gate6.com"/>
    <add key="mailFrom" value="gate6.info@gate6.net"/>
    <add key="smtpHost" value="mail.gate6.net"/>
    <add key="EmailUserId" value="gate6.info@gate6.net"/>
    <add key="EmailPassword" value="Goole2010A!!"/>
    <add key="RootURL" value="http://localhost:2886"/>
    <add key="ReCaptchaPrivateKey" value="6LfDxr0SAAAAAMFrsfDmAUID0P1hqW8d26LFyIHq" />
    <add key="ReCaptchaPublicKey" value="6LfDxr0SAAAAACzrpMxqZDTIkiIcWDQZjA8c3iTp" />
    <add key="GoogleKey" value ="ABQIAAAAK44FGvjxU-EE4RIb7_WkEhQCr3JfxdV9FVn0RFwdWNxy2AkijxSUjx99aJRGymfByFz85WM0trXY5g"/>
    <add key="Facebook_API_Key" value="27f76225e634efcb40fe391c50a87a14" />
    <add key="Facebook_API_Secret" value="65f49046dce2d1f54d6991e43c4af675"/>
    <add key="AppID" value="101151816623334"/>
    <add key="Domain" value="seedspeak.dev.gate6.com"/>
    <add key="IpAddressAPIKey" value="52008675127abaa9d777ef7ba4aaf611cc5ee00c88ac"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Telerik.Web.Mvc.UI" />
        <add namespace="MvcReCaptcha.Helpers"/>
      </namespaces>
    </pages>
   
    <httpHandlers>
      <add verb="GET" path="captcha.ashx" validate="false" type="ManagedFusion.Web.Handlers.CaptchaImageHandler, ManagedFusion" />
    </httpHandlers>
    
    <httpRuntime executionTimeout="240" maxRequestLength="51200000" requestValidationMode="2.0" />
    
    <!--<customErrors mode="On" defaultRedirect="~/Error/UnexpectedError">
    </customErrors>-->
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

