<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.35;Initial Catalog=SeedSpeakDummy;Persist Security Info=True;User ID=seedspeak;Password=Seplx!#9s!%;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.0.31\SQL2K8;Initial Catalog=SeedSpeak2;Persist Security Info=True;User ID=sa;Password=Gatesix#12;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
	</connectionStrings>
  <appSettings>
    <add key="AdminMail" value="avinash.mahajan@gate6.com"/>
    <add key="mailFrom" value="gate6.info@gate6.net"/>
    <add key="smtpHost" value="mail.gate6.net"/>
    <add key="EmailUserId" value="gate6.info@gate6.net"/>
    <add key="EmailPassword" value="Goole2010A!!"/>
    <add key="RootURL" value="http://localhost:2886"/>
  </appSettings>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="default"/>
			</webHttpBinding>
		</bindings>
		<services>
			<service name="SSWebService.SSService" behaviorConfiguration="LCServiceTypeBehaviors">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="default" contract="SSWebService.ISSService" behaviorConfiguration="webScriptEnablingBehavior"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webScriptEnablingBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="LCServiceTypeBehaviors">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
