<?xml version="1.0"?>

  <configuration>
    <connectionStrings>
      <add name="ApplicationServices"
           connectionString="Data Source=MICAH-HP;Initial Catalog=seedspeak;Integrated Security=True"
           providerName="System.Data.SqlClient" />
      <add name="seedspeakdbEntities" connectionString="metadata=res://*/SeedSpeakDb.csdl|res://*/SeedSpeakDb.ssdl|res://*/SeedSpeakDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MICAH-HP;Initial Catalog=seedspeak;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    
    <appSettings>
      <add key="AdminMail" value="avinash.mahajan@gate6.com"/>
      <add key="mailFrom" value="gate6.info@gate6.net"/>
      <add key="smtpHost" value="mail.gate6.net"/>
      <add key="EmailUserId" value="gate6.info@gate6.net"/>
      <add key="EmailPassword" value="Goole2010A!!"/>
      <add key="RootURL" value="http://localhost:2886"/>
    </appSettings>
    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
            <serviceMetadata httpGetEnabled="true"/>
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="false"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
  </configuration>
